# Ignore standard zargo outputs
**/data/proof.txt
**/data/proving-key
**/data/public-data.json
**/data/verifying-key.txt

# Ignore combined circuit
**/src/main.zn

# Ignore Corda test artifacts for the circuit
artifacts