[*.{kt, kts}]
indent_size = 4
insert_final_newline = true

# Set to off because there are occasions where the exceeding the limit makes code less maintainable.
# Where possible, don't stray into no-mans-land (beyond the 120 character limit line in the editor.)
max_line_length = off

# Import rules are disabled so as to follow the standard rules in IntelliJ IDEA.
disabled_rules = no-wildcard-imports, import-ordering, filename